h1{
color: rgb(250, 211, 160);
font-size: 64px;
}

body{
    color: rgb(97, 5, 5);
    background-color: rgb(214, 138, 62);
}

button{
    color: rgb(97, 5, 5);
    background-color: rgb(250, 211, 160);
    border: 0px
    
}